In [1]:
import pandas as pd

In [2]:
df1 = pd.ExcelFile('/Users/vishnuchopra/Downloads/All stocks.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/vishnuchopra/Downloads/All stocks.xlsx'

In [2]:
fmt = pd.read_excel('/Users/vishnuchopra/Downloads/format.xlsx')

In [3]:
dta = pd.read_excel('/Users/vishnuchopra/Downloads/Variable Data for Regression Model (1).xlsx')

In [4]:
movies = dta['Movie name']

In [5]:
movie_2_dates = {m:{"fw":[],"sw":[],"lt":[]} for m in movies}

In [6]:
from datetime import datetime,timedelta

In [8]:
(dta.loc[0,'Date (week 1) (DD/MM/YYYY)']) + timedelta(0)

Timestamp('1998-03-07 00:00:00')

In [9]:
pd.date_range(dta.loc[0,'Date (week 1) (DD/MM/YYYY)'], periods=7, freq='D')

DatetimeIndex(['1998-03-07', '1998-03-08', '1998-03-09', '1998-03-10',
               '1998-03-11', '1998-03-12', '1998-03-13'],
              dtype='datetime64[ns]', freq='D')

In [7]:
def generate_dates(row):
    try:
        fw = row.loc["Date (Week 1) - MM/DD/YYYY format"]
        sw = row.loc["Date (Week 2) - MM/DD/YYYY"]
        rel = row.loc["Release date (DD/MM/YYYY)"]
        end = row.loc["End date"]
        range_ = (end - rel).days
        movie = row.loc["Movie name"]
#         print(fw,sw,range_,movie)
        movie_2_dates[movie]["fw"] = fw
        movie_2_dates[movie]["sw"] = sw
        movie_2_dates[movie]["lt"] = (rel,end)
    except Exception as e:
        print(movie,e)

In [8]:
dta.apply(generate_dates,axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
78     None
79     None
80     None
81     None
82     None
83     None
84     None
85     None
86     None
87     None
88     None
89     None
90     None
91     None
92     None
93     None
94     None
95     None
96     None
97     None
98     None
99     None
100    None
101    None
102    None
103    None
104    None
105    None
106    None
107    None
Length: 108, dtype: object

In [15]:
return_by_movie = {
    "fw" : {stock:{} for stock in ["NYA"]},
    "sw": {stock:{} for stock in ["NYA"]},
    "lt": {stock:{} for stock in ["NYA"]}
}
from numpy import mean,nan
for df in [nya]:
#     df = df1.parse(sheet)
    df = df.set_index("Date")
# #     df = df.to_dict()
    #1 get for 1st week
    sheet = "NYA"
    for movie in movie_2_dates:
        fw_start = movie_2_dates[movie]["fw"]
        ctr = 0
        returns = []
        if type(fw_start)!=pd.Timestamp:
            return_by_movie["fw"][sheet][movie] = nan
            continue
        iters=0
        while ctr<7:
            #get return
            iters+=1
            if iters>15:
#                 print(movie,sheet,movie_2_dates[movie]["fw"])
                break
            try:
#                 print(fw_start,type(fw_start),ctr)
                returns.append(df.loc[pd.Timestamp(fw_start)]["Stock Return"])
                ctr+=1
                
                fw_start=fw_start+timedelta(1)
                
            except Exception as e:
                fw_start=fw_start+timedelta(1)
#                 break
        avg = mean(returns)
        return_by_movie["fw"][sheet][movie] = avg
        
    #2 get for 2nd week
    for movie in movie_2_dates:
        fw_start = movie_2_dates[movie]["sw"]
        if type(fw_start)!=pd.Timestamp:
            return_by_movie["sw"][sheet][movie] = nan
            continue
        ctr = 0
        iters=0
        returns = []
#         print(fw_start)
        while ctr<7:
            #get return
            iters+=1
            if iters>15:
#                 print(movie,sheet,movie_2_dates[movie]["fw"])
                break
            try:
                returns.append(df.loc[fw_start]["Stock Return"])
                ctr+=1
                fw_start=fw_start+timedelta(1)
            except Exception as e:
#                 print(e)
                fw_start=fw_start+timedelta(1)
        print(returns)
        avg = mean(returns)
        return_by_movie["sw"][sheet][movie] = avg
    
    #3 get from release to end
    for movie in movie_2_dates:
        rel,end = movie_2_dates[movie]["lt"]
        if end<rel:
            rel,end=end,rel
            print("its bad!",movie,end,rel)
        if type(rel)!=pd.Timestamp or type(end)!=pd.Timestamp:
            print(movie)
            return_by_movie["lt"][sheet][movie] = nan
            continue
        iters = 0
        while True:
            try:
                iters+=1
                if iters>5:
                    return_by_movie["lt"][sheet][movie]=nan
                    break
                avg = (df.loc[rel:end]["Stock Return"]).mean()
                if movie == "Hellboy 2":
                    print(rel,end)
                    print (df.loc[rel:end]["Stock Return"])
#                     print(avg,type(avg),str(avg)==('nan'))
                if movie == "Hellboy 2" and str(avg)=="nan":
                    print(avg,"s")
                    rel = rel + timedelta(1)
                    end = end - timedelta(1)
                    continue
                return_by_movie["lt"][sheet][movie]=avg
                break
            except Exception as e:
                rel = rel + timedelta(1)
                print(e,movie,sheet)
    print("DONE",sheet)

/Users/vishnuchopra/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/vishnuchopra/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

[0.001284042, -0.010357731, 0.0035607450000000001, -0.0074998590000000002, -0.0012657149999999999, 0.002569455, 0.014458248999999999]
[0.018556746999999998, -0.108863371, 0.0032019559999999997, 0.10773856599999999, -0.035327997999999999, 0.0037150509999999996, -0.053883880999999995]
[0.0016200429999999998, 0.0052987119999999997, -0.001276782, -0.010806319999999999, -0.0043826849999999999, -0.0054789669999999995, -0.0050172659999999994]
[0.00065032300000000007, 0.002185841, 0.0097639590000000009, -0.0017785489999999999, 0.0019082350000000001, 0.002308119, -0.0066169190000000006]
[-0.001591199, 0.012056183, -0.014093351, -0.0063756799999999999, -0.0087018440000000002, 0.00084553399999999989, -0.0020994130000000001]
[0.0040551670000000001, -0.0032067269999999999, -0.0081395110000000003, 0.0029982920000000001, 0.003689042, 0.015046371000000001, 0.0041322820000000001]
[-0.016509563000000001, 0.037792472000000001, -0.010821546999999999, -0.006739302, -0.009959397, 0.053604415000000002, -0.014497382]
[-0.013377746000000001, -0.0088856259999999989, 0.014072650000000001, 0.013172833, 0.010689529, -0.0031262779999999997, -0.0096792719999999992]
[-0.0085740980000000005, 0.0061566580000000006, 0.0073016490000000003, 0.0062827040000000001, -0.0039978130000000002, -0.032040547000000003, -0.001754055]
[0.005176379, 0.0057011890000000006, -0.0060063019999999998, 0.0057154269999999995, -0.0031349030000000001, -0.018130278999999999, 0.011284163999999999]
[0.000247669, -0.00037132499999999999, 0.0069822850000000004, -0.0086867539999999997, -0.015677656000000002, -0.002513482, -0.001177457]
[-0.0053990619999999996, -0.007810539, -0.0016222610000000001, 0.025168747999999998, -0.0030575520000000003, 0.016390621000000001, -0.018886563999999998]
[-0.0060469240000000004, 0.0052124220000000004, -0.00037213900000000001, -0.010368928000000001, -0.0070328369999999992, -0.0039598879999999999, 0.0014890249999999999]
[-0.0027123390000000002, 0.001484364, 0.0083171389999999994, 0.0011925589999999999, 0.018075129999999998, -0.001429519, 0.0043789980000000003]
[0.0010090639999999998, -0.045721946999999999, 0.055374337000000003, 0.060833897000000005, -0.034840049999999997, 0.012052667, 0.029760147999999997]
[0.010038574999999999, -1.97847e-05, 0.0039724749999999996, -0.015202594999999999, -0.0065222069999999995, 0.016047381999999999, -0.0095394529999999998]
[0.002180118, -0.00030367799999999999, 0.0052943259999999994, -0.00088619899999999995, 0.001146911, -0.0049226620000000004, -0.0029175820000000002]
[0.012928983999999999, -0.005455194, -0.0069513280000000005, -0.00096713500000000004, 0.0034265529999999997, 0.0034541859999999997, 0.009549007]
[0.0058027230000000001, -0.010148964, 0.012928057, 0.0041601120000000005, -0.001521877, 0.0053876240000000006, -0.0071858809999999999]
[0.020606045999999999, -0.013890265000000001, -0.027503693999999999, 0.0017884450000000001, -0.0084488759999999993, 0.0045851909999999997, 0.0065118989999999998]
[-0.011945035, 0.0071882030000000006, -0.0019377110000000002, -0.0048111740000000005, 0.026543708999999999, -0.019172529000000001, -0.0054445550000000002]
[0.013489623999999999, -0.012689307, 0.005550574, -0.032991742000000004, -0.0045856350000000002, -0.00047088000000000002, -0.024594080000000001]
[-0.0051226550000000003, 0.0011529860000000002, 0.0096560109999999991, -0.0034456559999999996, 0.0024161539999999998, -0.016272266000000001, -0.0078014540000000002]
[-0.016186966000000001, 0.001131265, 0.011937731000000002, -0.0047964520000000005, 0.014192926999999999, -0.0093195750000000001, -0.0014291970000000001]
[0.017261981999999999, 0.0096081480000000004, -0.0034716870000000002, -0.0091834810000000003, 0.00064137899999999997, -0.023872992000000003, -0.015120558000000001]
[-0.00047784999999999999, -0.0029425959999999996, 0.0026883190000000002, -0.0099944480000000013, -0.0021559940000000001, -0.0054023790000000006, 0.0053212319999999995]
[-0.001429519, 0.0043789980000000003, -0.0070450449999999998, 0.026046329999999999, 0.0019980810000000001, -0.0042688969999999998, 0.002221916]
[0.0017884450000000001, -0.0084488759999999993, 0.0045851909999999997, 0.0065118989999999998, -0.014080235, -0.014212228, 0.00065548600000000005]
[0.023319097999999996, 0.0036389440000000003, 0.0050015850000000002, 0.00057337199999999994, -0.013884823000000001, -0.012816721999999999, 0.0020983550000000001]
[0.010653176, -0.0012887300000000001, -0.01170561, 0.0041841919999999998, -0.00054264999999999999, -0.0052932140000000001, 0.010183258000000001]
[-0.010666416999999999, -0.00063957199999999993, -0.00033001900000000003, 0.0034556090000000001, -0.0098634689999999997, 0.0038072609999999997, 0.0012498910000000002]
[-0.0029397790000000004, -0.005470351, -0.0018610339999999999, 0.0021517529999999997, -0.0061605259999999995, 0.000904078, 0.0075807090000000006]
[0.00097744200000000002, 0.001603939, -0.010638641000000001, -0.0037116409999999999, 0.0042370279999999995, -0.00047784999999999999, -0.0029425959999999996]
[-0.0070328369999999992, -0.0039598879999999999, 0.0014890249999999999, -0.00034711400000000004, -2.5655399999999998e-05, 0.0042251820000000001, -0.0056820400000000002]
[-0.014174114, 0.0022412450000000002, -0.0085535569999999998, 0.022917711, -0.0031400009999999999, -0.016599956000000003, -0.0014316320000000002]
[0.002372075, 0.010372230999999999, -0.0058277040000000004, 0.0031359540000000003, 0.013117782, 0.00075227600000000007, 0.019388071999999999]
[0.004044555, 0.018676761, -0.014314028999999999, 0.010495208000000001, 0.002298465, 0.007051585, -0.022724378999999999]
[-0.017757721000000001, -0.013125501999999999, 0.0083519800000000002, 0.037531748999999996, 0.00075336199999999993, 0.010259341, -0.017745018000000001]
[-0.016951833999999999, 0.003396792, -0.0024754930000000001, -0.0075533230000000007, -0.0012220849999999999, 0.0030447400000000002, -0.0058547790000000001]
[-0.0089589849999999992, 0.0078597659999999989, 0.013533028000000001, 0.0031529359999999998, 0.011140713999999999, 0.019178988000000001, -0.0089651569999999996]
[0.010666475, -0.005917561, -0.010256774, -0.0064359640000000006, -0.0035378620000000001, 0.0040460470000000005, -0.0055095250000000004]
[-5.9594900000000001e-05, 0.0038401070000000002, 0.015159268, 0.00082817999999999998, -0.0043711409999999994, -0.018407784, -0.00075684000000000005]
[-0.015082544, -0.021837325000000001, 0.0028136990000000002, -0.006909536, 0.003562562, 0.0037806640000000004, -0.0036729229999999998]
[0.0066266850000000002, -0.0038471529999999999, 0.0058640130000000004, 0.00045629800000000006, -0.0050148090000000003, 0.00235644, -0.0047414090000000002]
[0.0, -0.0053983989999999999, 0.0053757469999999993, 0.004469715, -0.00084953199999999996, -0.0045667190000000003, 0.0052138100000000001]
[-0.0060198709999999996, 0.0025326260000000001, 0.001054164, -0.0085824419999999992, -0.0056257499999999997, -0.0080395429999999997, 7.7157399999999994e-05]
[-0.00024074799999999999, -0.0053419660000000001, 0.0013012810000000001, -0.00095897699999999996, -0.007960509000000001, -0.0014200789999999999, 0.00109252]
[0.012432638999999999, -0.0018820039999999998, 0.0075392740000000003, -0.0013868439999999999, -0.012371014, -0.0074365530000000003, -0.016516909]
[0.0093003159999999994, -0.015269794999999999, 0.00068014799999999999, -0.0040548770000000001, 0.001294662, 0.002456551, 0.0058040319999999998]
[-0.0083102599999999999, -0.0039480080000000002, -0.0018101599999999999, -0.0030365220000000003, 0.0032428000000000005, -0.0052729099999999996, -0.0018148839999999999]
[-0.00024074799999999999, -0.0053419660000000001, 0.0013012810000000001, -0.00095897699999999996, -0.007960509000000001, -0.0014200789999999999, 0.00109252]
[-0.000644376, -0.0020935160000000001, -0.0081572540000000009, -0.002502939, -0.001364143, 0.00036503300000000001, 0.008432493000000001]
[0.00019066999999999999, -0.0064507449999999999, 0.00058315699999999995, -0.0045645009999999995, 0.0031383629999999999, 0.008898731, 0.0071397809999999996]
[0.010533819999999999, -0.0042661499999999998, -0.0097518940000000005, 0.018147421, 0.0083522649999999993, -0.0075756649999999997, -0.0040915809999999995]
[0.011962611000000001, -0.0070023200000000002, 0.0009529889999999999, 0.0069137440000000003, -0.00048635300000000002, -0.0017345800000000001, -0.0024333329999999998]
[-0.008307989, -0.0044036220000000003, 0.0031417300000000001, -0.0059900969999999998, 0.0034312929999999998, 0.0016117149999999999, 0.0046240709999999996]
[0.026646042999999998, -0.0021461480000000001, -0.018125073999999998, -0.002164736, -0.015301395000000001, -0.019115996999999999, 0.0011371969999999999]
[0.0039329530000000003, -0.010456680999999999, 0.012550499, 0.012851265000000001, -0.014553031000000001, 0.010124681, 0.010409521999999999]
[-0.010375725000000001, 0.0082547160000000005, 0.00069505800000000003, -0.0056184730000000006, -0.0072472659999999996, 0.001805089, -0.001790086]
[4.0009099999999996e-05, 0.0013154200000000001, 0.00025959799999999999, -0.00261751, 0.00374807, 0.011962611000000001, -0.0070023200000000002]
[0.0056338869999999997, 0.000199774, -0.012873097, -0.002032355, 0.0064123690000000002, 0.0055134839999999999, -0.004375487]
[0.00036588800000000003, 0.002500464, 0.0093587630000000008, 0.0012967779999999999, -0.001963186, -0.008239123000000001, -0.0045472339999999998]
[0.0041396860000000001, 0.0018437929999999998, -0.00074831799999999999, -0.0066986249999999997, -0.0043980729999999997, -0.0049160670000000005, -0.0030473940000000001]
[-0.008239123000000001, -0.0045472339999999998, 0.0028979140000000001, -0.001231888, 0.0036295749999999999, 0.012117976000000001, -0.0097215540000000003]
[0.0016647889999999999, 0.021554588, -0.0085758699999999993, -0.0041009380000000002, 0.015332739999999999, 0.017223953, 0.0047378340000000007]
[-0.005181995, 0.0080407229999999996, 0.0036481619999999999, -0.001386487, -0.0017625770000000002, -0.0021821979999999998, 0.0035794759999999998]

[-0.0078305819999999991, 0.001062112, -0.0021383589999999998, 0.01333086, 0.001101695, -0.00165876, -0.0072866069999999996]
[0.001670738, -0.0050987129999999995, 6.7662099999999997e-05, 0.00014040400000000001, 0.00071436699999999993, -0.001084546, -0.0026957959999999999]
[-0.007275976, -0.0042108020000000005, -0.0054633999999999993, -0.0057062650000000003, -0.0008478610000000001, -0.00049465100000000003, 0.001086493]
[0.0038118490000000004, -0.001745403, -0.0017690150000000001, -0.00081468600000000001, -8.0504699999999999e-06, -0.0022474220000000002, 0.0023990859999999999]
[-0.0043840650000000004, -0.0024360039999999999, 0.00048111999999999997, 0.0044110240000000004, -0.0050756389999999998, -0.0078300719999999987, 0.0013168310000000001]
[-0.0065060809999999995, -0.0061035159999999998, -0.0021275550000000002, 0.0048430920000000002, 0.0051018879999999997, -0.00028621400000000002, 0.0077329019999999998]
[0.0014953189999999999, -0.00072991899999999999, -0.0071917569999999991, -0.0062906180000000004, -0.0087689399999999994, -0.0029434870000000003, 0.010491571000000002]
[-0.0087689399999999994, -0.0029434870000000003, 0.010491571000000002, -0.0062586969999999997, -0.00062962800000000002, 0.0016252320000000001, -0.002381949]
[-0.0096792719999999992, -0.0031475349999999999, 0.001082848, -0.0029815590000000004, -0.013454057, 0.001583136, 0.0051941779999999998]
[0.0056519030000000007, 0.000110192, 0.004475639, -0.00028687999999999999, 0.0017733739999999999, -0.003263157, 0.0014756470000000001]
[-0.00028621400000000002, 0.0077329019999999998, -0.00030838799999999999, -0.0051689229999999997, -0.00088289, 0.0062850110000000001, 0.0017882639999999999]
[]
[0.0026017129999999999, -0.0055464750000000004, 0.00062203099999999999, -0.00046777099999999996, -0.0043765380000000001, 0.011210784999999999, -0.008404623]
[0.019398273000000001, 0.0069594259999999995, -0.021217142000000001, -0.0054652659999999999, -0.00018700400000000003, -0.0065736850000000001, 0.015773673999999998]
[0.0032331490000000003, 0.0017454520000000002, -0.0036054149999999998, 0.0046692209999999994, 0.0042291129999999996, -0.00086978899999999994, 0.015872270000000001]
[-0.0055263350000000003, -0.0088376759999999992, -0.015947393000000001, 0.00172836, 0.0040264259999999996, -0.0086536249999999999, 0.0078985790000000011]
[]
[0.031805894000000001, 0.030833496000000002, -0.016612858000000001, -0.018939826999999999, 0.0070058990000000003, -0.005032679, -0.010620559999999999]
[0.0087150379999999996, -0.021744212000000002, -0.0018997420000000001, 0.0031407790000000002, -0.0071419040000000001, -7.8866600000000001e-05, -0.0014166739999999999]
[-0.0049254429999999998, 0.0015614239999999998, -0.013005500000000001, 0.0010397080000000001, 0.001014048, -0.0048316240000000005, 0.011007801000000001]
[-0.0167513, 0.0018680929999999999, 0.0023065, 0.028703282000000004, 0.0065142749999999999, -0.017742127, -0.015152918999999999]
[]
[]
[-0.025183532000000002, 0.006816529, 0.0059351150000000004, 0.0097648800000000001, -0.0098532869999999988, 0.0074633909999999998, 0.021901825999999999]
[]
[]
[-0.009401464, -0.018206038000000001, 0.002117786, -0.0019881040000000001, 6.6333499999999998e-05, -0.0057744669999999993, -0.005156412]
[0.0025070360000000002, 0.0098829569999999995, 0.0065026000000000007, -0.0099256380000000005, 0.0063919809999999997, -0.0040269069999999997, -0.001295944]
[-0.0029603279999999999, -0.002900358, 0.001835394, 0.019330573, 0.019675846, -0.003361307, 0.048135944000000007]
[-0.0036145299999999999, 0.001671503, -0.0045925760000000001, -0.00039039599999999999, -0.0014574989999999999, 0.00015595499999999999, -0.00059852699999999996]
its bad! Children of Men 2006-12-25 00:00:00 2006-03-15 00:00:00
Firestorm
its bad! Hellboy 2 2008-11-07 00:00:00 2008-09-18 00:00:00
2008-09-18 00:00:00 2008-11-07 00:00:00
Date
2008-09-18   -0.050319
2008-09-19    0.033910
2008-09-22    0.017127
2008-09-23    0.002117
2008-09-24   -0.020062
2008-09-25    0.004753
2008-09-26    0.095275
2008-09-29   -0.043648
2008-09-30    0.001709
2008-10-01    0.050946
2008-10-02    0.009377
2008-10-03    0.049450
2008-10-06    0.057375
2008-10-07    0.013007
2008-10-08    0.085434
2008-10-09    0.018557
2008-10-10   -0.108863
2008-10-13    0.003202
2008-10-14    0.107739
2008-10-15   -0.035328
2008-10-16    0.003715
2008-10-17   -0.053884
2008-10-20    0.039043
2008-10-21    0.074749
2008-10-22   -0.007310
2008-10-23    0.045028
2008-10-24    0.044455
2008-10-27   -0.093647
2008-10-28   -0.007176
2008-10-29   -0.033496
2008-10-30   -0.014199
2008-10-31    0.001009
2008-11-03   -0.045722
2008-11-04    0.055374
2008-11-05    0.060834
2008-11-06   -0.034840
2008-11-07    0.012053
Name: Stock Return, dtype: float64
its bad! Poseidon 2006-12-05 00:00:00 2006-08-10 00:00:00
its bad! Pulse 2006-11-08 00:00:00 2006-10-12 00:00:00
The book of life
its bad! The day after tomorrow 2004-05-28 00:00:00 2003-07-10 00:00:00
its bad! The day the earth stood still 2008-12-12 00:00:00 2008-04-02 00:00:00
its bad! The guardian 2006-09-29 00:00:00 2006-01-04 00:00:00
its bad! The mist 2007-11-21 00:00:00 2007-03-20 00:00:00
its bad! Skyline 2010-12-11 00:00:00 2010-10-23 00:00:00
its bad! Battle Los Angeles 2011-11-03 00:00:00 2011-06-02 00:00:00
Perfect Sense
Attack on titan 1
Into the forest
its bad! Maggie 2015-08-05 00:00:00 2015-05-21 00:00:00
its bad! 10 Cloverfield Lane 2016-11-03 00:00:00 2016-06-02 00:00:00
Aftershock (2013)
nan
Mean
Std
Min
Max
DONE NYA

In [9]:
import datetime # The date - 29 Dec 2017
format_str = '%d/%m/%y' # The format

nyadatetime_obj = datetime.datetime.strptime(date_str, format_str)

NameError: name 'date_str' is not defined

In [12]:
nya["Date"]=nya["Date"].apply(lambda x: datetime.datetime.strptime(x, format_str))

In [14]:
nya = nya.convert_objects(convert_numeric="Stock Return")

/Users/vishnuchopra/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [11]:
nya = pd.read_csv('/Users/vishnuchopra/Downloads/^NYA.csv')

In [41]:
nya["Stock Return"][0]

-0.0018742870000000001

In [146]:
#For each movie get the start date, and keep going forward 1 day till u get a matching date for the stock
#take the avg for the next 7 days of returns and store for that movie
df.loc[pd.Timestamp('1980-03-19 00:00:00')]

Open                  0.308594
High                  0.308594
Low                   0.298828
Close                 0.298828
Adj Close             0.002111
Volume           140800.000000
Stock returns        -0.031651
Name: 1980-03-19 00:00:00, dtype: float64

In [135]:
pd.Timestamp('1980-03-17 00:00:00')

Timestamp('1980-03-17 00:00:00')

In [151]:
2008-11-07 00:00:00 2008-09-18 00:00:00

None

In [237]:
(df.loc[pd.Timestamp('2008-01-01 00:00:00'):pd.Timestamp('2008-09-18 00:00:00')]["Stock returns"])

Date
2008-01-02    0.041048
2008-01-03    0.054279
2008-01-04   -0.008004
2008-01-07    0.036450
2008-01-08   -0.026670
2008-01-09    0.013390
2008-01-10    0.052178
2008-01-11   -0.012113
2008-01-14    0.009628
2008-01-15   -0.028809
2008-01-16    0.008410
2008-01-17   -0.019000
2008-01-18   -0.067382
2008-01-22   -0.025892
2008-01-23    0.022289
2008-01-24    0.029398
2008-01-25   -0.037497
2008-01-28   -0.001379
2008-01-29    0.009508
2008-01-30   -0.052932
2008-01-31   -0.008709
2008-02-01    0.022485
2008-02-04    0.038613
2008-02-05    0.007689
2008-02-06   -0.063904
2008-02-07    0.026416
2008-02-08   -0.050988
2008-02-11   -0.003388
2008-02-12    0.020748
2008-02-13    0.030512
                ...
2008-08-07   -0.058246
2008-08-08   -0.080980
2008-08-11    0.037851
2008-08-12    0.032570
2008-08-13   -0.014088
2008-08-14   -0.067967
2008-08-15    0.021096
2008-08-18    0.038919
2008-08-19    0.022622
2008-08-20   -0.004587
2008-08-21   -0.036948
2008-08-22    0.035128
2008-08-25   -0.007018
2008-08-26    0.002898
2008-08-27   -0.032445
2008-08-28    0.015457
2008-08-29   -0.036638
2008-09-02   -0.027068
2008-09-03    0.033898
2008-09-04   -0.005878
2008-09-05   -0.052358
2008-09-08    0.024344
2008-09-09    0.002670
2008-09-10   -0.001714
2008-09-11    0.026178
2008-09-12    0.022368
2008-09-15   -0.028710
2008-09-16    0.052256
2008-09-17   -0.040916
2008-09-18    0.022009
Name: Stock returns, Length: 181, dtype: float64

In [157]:
from numpy import mean
mean(a)

2.0

In [165]:
type(movie_2_dates['War for the planet of the apes']["fw"])==pd.Timestamp

True

In [193]:
df.loc[pd.Timestamp("2000-08-27")]

AttributeError: 'dict' object has no attribute 'loc'

In [17]:
lt=pd.DataFrame(return_by_movie["lt"]["NYA"],index=[i for i in range(len(return_by_movie["lt"]))])
fw=pd.DataFrame(return_by_movie["fw"]["NYA"],index=[i for i in range(len(return_by_movie["lt"]))])
sw=pd.DataFrame(return_by_movie["sw"]["NYA"],index=[i for i in range(len(return_by_movie["lt"]))])

In [215]:
movie_2_dates["Hellboy 2"]

{'fw': Timestamp('2008-11-07 00:00:00'),
 'lt': (Timestamp('2008-11-07 00:00:00'), Timestamp('2008-09-18 00:00:00')),
 'sw': NaT}

In [18]:
lt.to_excel("all_stocks_lifetime.xlsx")
fw.to_excel("first_week.xlsx")
sw.to_excel("second_week.xlsx")

In [255]:
dta

,Movie name,IMDB /10,Release Date (MM/DD/YYYY),Sentiment Score,Week 1 Gross,Date (Week 1) - MM/DD/YYYY format,Week 2 Gross,Date (Week 2) - MM/DD/YYYY,Domestic Total Gross,End date,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Date (week 1) (DD/MM/YYYY),Release date (DD/MM/YYYY),Date (week 2) (DD/MM/YYYY)
0,Armageddon,6.600000,1998-07-01,3.000000,5.819077e+07,1998-07-03,36238991.00,1998-07-10,2.015782e+08,1998-09-24,NaN,NaN,NaN,NaN,NaN,1998-03-07,1998-01-07,1998-10-07
1,Blindness,6.600000,2008-10-03,2.000000,2.586666e+06,2008-10-03,765085.00,2008-10-09,3.351751e+06,2008-10-16,NaN,NaN,NaN,NaN,NaN,2008-03-10,2008-03-10,NaT
2,Chicken little,5.800000,2005-11-04,4.000000,4.874790e+07,2005-11-04,35633823.00,2005-11-11,1.353867e+08,2006-04-13,NaN,NaN,NaN,NaN,NaN,2005-04-11,2005-04-11,2005-11-11
3,Children of Men,7.900000,2006-12-25,2.000000,1.025697e+06,2006-12-22,13358770.00,2006-12-29,3.555238e+07,2006-03-15,NaN,NaN,NaN,NaN,NaN,2006-12-22,2006-12-25,2006-12-29
4,Day watch,6.500000,2007-06-01,3.000000,6.823400e+04,2007-06-01,98347.00,2007-06-08,4.508970e+05,2007-08-02,NaN,NaN,NaN,NaN,NaN,2007-01-06,2007-01-06,2007-08-06
5,Deep Impact,6.200000,1998-05-08,3.000000,5.070338e+07,1998-05-08,28823765.00,1998-05-15,1.404647e+08,1998-09-24,NaN,NaN,NaN,NaN,NaN,1998-08-05,1998-08-05,1998-05-15
6,Disaster movie,1.900000,2008-08-29,4.000000,7.570833e+06,2008-08-29,3519301.00,2008-09-05,1.419090e+07,2008-10-23,NaN,NaN,NaN,NaN,NaN,2008-08-29,2008-08-29,NaT
7,Diary of the dead,5.700000,2008-02-15,3.000000,3.293190e+05,2008-02-15,173708.00,2018-02-22,9.589610e+05,2008-05-01,NaN,NaN,NaN,NaN,NaN,2008-02-15,2008-02-15,2018-02-22
8,Doomsday,6.000000,2008-03-14,3.000000,6.727090e+06,2008-03-14,3304870.00,2008-03-21,1.100877e+07,2008-04-10,NaN,NaN,NaN,NaN,NaN,2008-03-14,2008-03-14,NaT
9,Final destination,6.700000,2000-03-17,2.000000,1.320412e+07,2000-03-17,9785108.00,2000-03-24,5.333115e+07,2000-08-10,NaN,NaN,NaN,NaN,NaN,2000-03-17,2000-03-17,2000-03-24
10,Firestorm,4.700000,1998-01-09,3.000000,4.859882e+06,1998-01-09,NaN,NaT,8.165212e+06,NaT,NaN,NaN,NaN,NaN,NaN,1998-09-01,1998-09-01,NaT
11,Godzilla,5.300000,1998-05-20,3.000000,6.277178e+07,1998-05-22,22995923.00,1998-05-29,1.363143e+08,1998-07-09,NaN,NaN,NaN,NaN,NaN,1998-05-22,1998-05-20,1998-05-29
12,Hellboy 2,7.000000,2008-07-11,2.000000,4.640907e+07,2008-07-11,14550550.00,2008-07-18,7.598650e+07,2008-09-18,NaN,NaN,NaN,NaN,NaN,2008-11-07,2008-11-07,NaT
13,Land of the dead,6.200000,2005-06-24,3.000000,1.349480e+07,2005-06-24,4686450.00,2005-07-01,2.070008e+07,2005-08-04,NaN,NaN,NaN,NaN,NaN,2005-06-24,2005-06-24,2005-01-07
14,Mother of tears,5.100000,2008-06-06,3.000000,2.999400e+04,2008-06-06,6976.00,2008-06-13,5.866900e+04,2008-07-17,NaN,NaN,NaN,NaN,NaN,2008-06-06,2008-06-06,2008-06-13
15,Passengers,5.900000,2008-10-24,5.000000,2.303610e+05,2008-10-24,62076.00,2008-10-31,2.924370e+05,2008-11-06,NaN,NaN,NaN,NaN,NaN,2008-10-24,2008-10-24,NaT
16,Poseidon,5.600000,2006-05-12,4.000000,2.757755e+07,2006-05-12,12065190.00,2006-05-19,6.067482e+07,2006-08-10,NaN,NaN,NaN,NaN,NaN,2006-12-05,2006-12-05,2006-05-19
17,Pulse,4.700000,2006-08-11,3.000000,1.117610e+07,2006-08-11,5052499.00,2006-08-18,2.026444e+07,2006-10-12,NaN,NaN,NaN,NaN,NaN,2006-11-08,2006-11-08,2006-08-18
18,Resident evil,6.700000,2002-03-15,3.000000,2.223251e+07,2002-03-15,9218735.00,2002-03-22,4.011971e+07,2002-05-09,NaN,NaN,NaN,NaN,NaN,2002-03-15,2002-03-15,2002-03-22
19,Resident evil: Apocalypse,6.200000,2004-09-10,1.000000,2.837467e+07,2004-09-10,11053000.00,2004-09-17,5.120145e+07,2004-11-04,NaN,NaN,NaN,NaN,NaN,2004-10-09,2004-10-09,2004-09-17
20,Southland tales,7.900000,2007-11-14,3.000000,1.726590e+05,2007-11-16,54247.00,2007-11-23,2.753800e+05,2007-12-20,NaN,NaN,NaN,NaN,NaN,2007-11-16,2007-11-14,2007-11-23
21,Sunshine,7.300000,2007-07-20,4.000000,3.625010e+05,2007-07-20,1872738.00,2007-07-27,3.675753e+06,2007-10-18,NaN,NaN,NaN,NaN,NaN,2007-07-20,2007-07-20,NaT
22,Survival of the dead,4.900000,2010-05-28,4.000000,7.034200e+04,2010-05-28,12541.00,2010-06-04,1.017400e+05,2010-07-15,NaN,NaN,NaN,NaN,NaN,2010-05-28,2010-05-28,NaT
23,The book of life,6.700000,1999-03-19,4.000000,5.475000e+03,1999-05-19,NaN,NaT,9.740000e+03,NaT,NaN,NaN,NaN,NaN,NaN,1999-05-19,1999-03-19,NaT
24,The core,5.500000,2003-03-28,3.000000,1.462107e+07,2003-03-28,7828107.00,2003-04-04,3.118690e+07,2004-10-28,NaN,NaN,NaN,NaN,NaN,2003-03-28,2003-03-28,2003-04-04
25,The day after tomorrow,6.400000,2004-05-28,4.000000,1.006092e+08,2004-05-28,37997409.00,2004-06-04,1.867408e+08,2003-07-10,NaN,NaN,NaN,NaN,NaN,2004-05-28,2004-05-28,2004-04-06
26,The day the earth stood still,5.500000,2008-12-12,4.000000,3.847688e+07,2008-12-12,17305501.00,2008-12-19,7.936698e+07,2008-04-02,NaN,NaN,NaN,NaN,NaN,2008-12-12,2008-12-12,NaT
27,The guardian,6.900000,2006-09-29,4.000000,2.275172e+07,2006-09-29,12514207.00,2006-10-06,5.501173e+07,2006-01-04,NaN,NaN,NaN,NaN,NaN,2006-09-29,2006-09-29,2006-06-10
28,The happening,5.000000,2008-06-13,3.000000,4.026735e+07,2008-06-13,14945557.00,2008-06-20,6.450687e+07,2008-09-18,NaN,NaN,NaN,NaN,NaN,2008-06-13,2008-06-13,NaT
29,The mist,7.200000,2007-11-21,3.000000,1.108044e+07,2007-11-21,5837617.00,2007-11-28,2.559496e+07,2007-03-20,NaN,NaN,NaN,NaN,NaN,2007-11-21,2007-11-21,2007-11-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,The first purge,5.100000,2018-07-04,4.000000,2.647202e+07,2018-07-04,14833395.00,2018-07-06,6.908632e+07,2018-09-06,NaN,NaN,NaN,NaN,NaN,2018-04-07,2018-04-07,NaT
79,Annihilation,6.900000,2018-02-23,3.000000,1.498674e+07,2018-02-23,7957772.00,2018-03-02,3.273230e+07,2018-04-19,NaN,NaN,NaN,NaN,NaN,2018-02-23,2018-02-23,NaT
80,The predator,5.800000,2018-09-14,3.000000,3.173512e+07,2018-09-14,12199129.00,2018-09-21,5.100268e+07,2018-11-15,NaN,NaN,NaN,NaN,NaN,2018-09-14,2018-09-14,NaT
81,Rampage,6.200000,2018-04-13,4.000000,4.560007e+07,2018-04-13,25225491.00,2018-04-20,9.934595e+07,2018-07-26,NaN,NaN,NaN,NaN,NaN,2018-04-13,2018-04-13,NaT
82,Wall street,7.400000,1987-12-11,4.000000,5.447702e+06,1987-12-11,4867005.00,1987-12-18,4.384807e+07,2014-02-11,NaN,NaN,NaN,NaN,NaN,1987-12-11,1987-12-11,1987-12-18
83,The wolf of wall street,8.200000,2013-12-27,3.000000,3.410356e+07,2013-12-27,19691437.00,2014-01-03,1.169007e+08,2014-04-03,NaN,NaN,NaN,NaN,NaN,2013-12-27,2013-12-27,2014-01-03
84,Inside Job,8.300000,2010-10-08,3.000000,6.283600e+04,2010-10-08,122977.00,2000-10-15,4.312735e+06,2015-01-06,NaN,NaN,NaN,NaN,NaN,2010-10-08,2010-10-08,2000-10-15
85,Boiler room,7.000000,2000-02-18,2.000000,7.934602e+06,2000-02-18,4027042.00,2015-02-25,1.697058e+07,2000-04-06,NaN,NaN,NaN,NaN,NaN,2000-02-18,2000-02-18,2015-02-25
86,The big short,7.800000,2015-12-11,5.000000,9.414040e+05,2015-12-11,4550044.00,2015-12-18,7.025987e+07,2016-04-07,NaN,NaN,NaN,NaN,NaN,2015-12-11,2015-12-11,2015-12-18
87,Trading plaes,7.500000,1983-06-10,3.000000,1.310135e+07,1983-06-10,10979198.00,1983-06-17,9.040480e+07,1983-10-20,NaN,NaN,NaN,NaN,NaN,1983-06-10,1983-06-10,1983-06-17
88,Margin call,7.100000,2011-10-21,3.000000,7.612470e+05,2011-10-21,1037263.00,2011-10-28,5.354039e+06,2012-02-16,NaN,NaN,NaN,NaN,NaN,2011-10-21,2011-10-21,2011-10-28
89,Wall street: the money never sleeps,6.200000,2010-09-24,3.000000,2.577585e+07,2010-09-24,13265727.00,2010-10-01,5.247462e+07,2010-12-23,NaN,NaN,NaN,NaN,NaN,2010-09-24,2010-09-24,2010-10-01
90,Enron: the smartest guys in the room,7.700000,2005-04-22,3.000000,1.118140e+05,2005-04-22,562944.00,2005-04-29,4.071700e+06,2005-09-29,NaN,NaN,NaN,NaN,NaN,2005-04-22,2005-04-22,2005-04-29
91,Capitalism: a love story,7.400000,2009-09-23,4.000000,3.351030e+05,2009-09-18,5993502.00,2009-09-25,1.436340e+07,2009-12-17,NaN,NaN,NaN,NaN,NaN,2009-09-18,2009-09-23,2009-09-25
92,Other people's money,6.100000,1991-10-18,4.000000,6.559037e+06,1991-10-18,5331213.00,1991-10-25,2.568209e+07,1991-12-05,NaN,NaN,NaN,NaN,NaN,1991-10-18,1991-10-18,1991-10-25
93,The working girl,6.800000,1988-12-23,5.000000,9.349193e+06,1988-12-23,9125046.00,1988-12-30,6.377948e+07,1989-05-04,NaN,NaN,NaN,NaN,NaN,1988-12-23,1988-12-23,1988-12-30
94,American Psycho,7.600000,2000-04-14,4.000000,7.023025e+06,2000-04-14,3850027.00,2000-04-21,1.507028e+07,2000-07-20,NaN,NaN,NaN,NaN,NaN,2000-04-14,2000-04-14,2000-04-21
95,Glengarry Glen Ross,7.800000,1992-10-02,4.000000,2.831155e+06,1992-10-02,1922550.00,1992-10-09,1.072523e+07,1992-11-01,NaN,NaN,NaN,NaN,NaN,1992-10-02,1992-10-02,1992-10-09
96,The bonfire of the vanities,5.500000,1990-12-22,3.000000,5.697250e+06,1990-12-21,5797718.00,1990-12-28,1.569119e+07,1991-01-10,NaN,NaN,NaN,NaN,NaN,1990-12-21,1990-12-22,1990-12-28
97,The company men,6.800000,2011-01-21,3.000000,8.389710e+05,2011-01-21,867858.00,2011-01-28,4.441272e+06,2011-05-19,NaN,NaN,NaN,NaN,NaN,2011-01-21,2011-01-21,2011-01-28
98,Arbitrage,6.600000,2012-09-14,4.000000,2.668507e+06,2012-09-14,1572252.00,2012-09-21,7.919574e+06,2013-01-17,NaN,NaN,NaN,NaN,NaN,2012-09-14,2012-09-14,2012-09-21
99,The bank,6.700000,2001-08-28,4.000000,1.495600e+04,2001-08-23,4853.00,2001-08-30,8.841400e+04,2002-02-06,NaN,NaN,NaN,NaN,NaN,2001-08-23,2001-08-28,2001-08-30
100,Aftershock (2013),4.800000,2013-05-10,3.000000,5.851000e+04,2013-05-10,NaN,NaT,5.851000e+04,NaT,NaN,NaN,NaN,NaN,NaN,2013-10-05,2013-10-05,NaT
101,Godzilla (2014),6.400000,2014-05-16,5.000000,1.173484e+08,2014-05-16,45083190.00,2014-05-23,2.006761e+08,2014-08-28,NaN,NaN,NaN,NaN,NaN,2014-05-16,2014-05-16,NaT
102,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
103,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
104,Mean,6.310000,NaT,3.330000,2.573173e+07,NaT,13504450.94,NaT,5.985325e+07,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
105,Std,1.104399,NaT,0.792069,3.394261e+07,NaT,16259329.37,NaT,7.258656e+07,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
106,Min,1.900000,NaT,1.000000,2.959000e+03,NaT,1297.00,NaT,2.959000e+03,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT
107,Max,8.600000,NaT,5.000000,2.047873e+08,NaT,99970330.00,NaT,4.167693e+08,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT

In [257]:
movie_2_dates["Godzilla (2014)"]

KeyError: 'Godzilla \\(2014\\)'

In [60]:
pd.DataFrame(return_by_movie["lt"]["NYA"],index=[i for i in range(len(return_by_movie["lt"]))])

,Armageddon,Deep Impact,Godzilla,Firestorm,The book of life,Final destination,The perfect storm,Resident evil,The mothman prophecies,The core,...,American Psycho,Glengarry Glen Ross,The bonfire of the vanities,The company men,Arbitrage,The bank,Mean,Std,Min,Max
0,-0.000032,0.001685,-0.000548,NaN,NaN,-0.000425,0.000206,0.001855,-0.001283,-0.000795,...,-0.00099,NaN,NaN,-0.000332,-0.000428,0.000727,NaN,NaN,NaN,NaN

In [16]:
return_by_movie["lt"]["NYA"]

{'Armageddon': -3.240706629834215e-05,
 'Blindness': 0.002601266532903226,
 'Chicken little': -0.0005137136203125004,
 'Children of Men': -0.0004791168045454545,
 'Day watch': -0.00021204955902777756,
 'Deep Impact': 0.0016854391944444442,
 'Disaster movie': 0.012137052384615384,
 'Diary of the dead': -0.0008829213207547173,
 'Doomsday': -0.001662545421052632,
 'Final destination': -0.0004248304411764704,
 'Firestorm': nan,
 'Godzilla': -0.0006269513142857141,
 'Hellboy 2': 0.009128154729729731,
 'Land of the dead': -0.0011354437034482758,
 'Mother of tears': 0.00280104648275862,
 'Passengers': -0.0067407651000000015,
 'Poseidon': -0.0011721569939024388,
 'Pulse': -0.0010606637,
 'Resident evil': 0.0018547424615384612,
 'Resident evil: Apocalypse': -0.002020122457894737,
 'Southland tales': 0.00018451269230769228,
 'Sunshine': 0.00032111426562499965,
 'Survival of the dead': 0.0005032108787878786,
 'The book of life': nan,
 'The core': -0.0007953892663341652,
 'The day after tomorrow': -0.0006713072542222224,
 'The day the earth stood still': 0.003269816550837987,
 'The guardian': -0.0002966703352941176,
 'The happening': 0.0016457817352941177,
 'The mist': -0.0002028889531791905,
 'The mothman prophecies': -0.0012826028823529412,
 'The omen': -0.0006149291370967741,
 'The reaping': -0.000672705475,
 'The perfect storm': 0.00020561093457943907,
 'The science of sleep': -0.0012778813453124993,
 'War of the worlds': -0.0006012432048076922,
 2012: 0.00014011503076923057,
 'Aftershock': -0.0007249793392857139,
 'Skyline': -0.0011127196470588233,
 'Legion': -0.001213167717948718,
 'Battle Los Angeles': 0.001035370833944954,
 'Perfect Sense': nan,
 '4:44 last day on earth': 0.0023586722,
 'The cabin in the woods': 0.00040355282380952396,
 'The bay': 0.00012196172239583318,
 'The impossible': -0.0007613174937499995,
 'Snowpiercer': 0.0004643449759036144,
 'All is lost': -0.00045685975777777786,
 'World war Z': -0.000991473712820513,
 'Interstellar': -0.00012875203287037034,
 'Left behind': 1.3628825257731828e-05,
 'Pompeii': -0.0005815741500000001,
 'Into the storm': -0.0003913292972972973,
 'Bhopal: A prayer for rain': -6.141547872340419e-05,
 'Edge of tomorrow': 3.3275294117647255e-06,
 'The remaining': 0.00032475895714285713,
 'Noah': -0.0009230222051724142,
 'Mad max: the fury road': 0.0014736,
 'Terminator Genisys': 0.0003717444170454545,
 'Maze runner: the scorch trials': 0.0007798714779069767,
 'The hunger games: Mockingjay part 2': 0.0013417343799999996,
 'Insurgent': 0.00027895843896103895,
 'Attack on titan 1': nan,
 'Into the forest': nan,
 'Maggie': 0.000779586960377359,
 'San Andreas': 0.0006671260540816328,
 '10 Cloverfield Lane': 0.00020920810366972475,
 'Resident evil: The final chapter': -0.0004072471136363637,
 'Allegiant': -0.0004596099924528302,
 'The 5th wave': -0.0004703846259259261,
 'It comes at night': -0.0024630152857142854,
 'The dark tower': -0.0005899689725925928,
 'War for the planet of the apes': -0.0005905720374489795,
 'Hostiles': 7.84475442105264e-05,
 'Geostorm': -0.0011711798224210525,
 'The meg': 0.002906481842105264,
 'A quiet place': -0.0004953963023255813,
 'Jurassic Park: the fallen kingdom': -0.0003659918356164382,
 'The first purge': -0.00038124303113207535,
 'Annihilation': 0.0006081712820512823,
 'The predator': 0.001182427244444445,
 'Rampage': -0.0003887512506849314,
 'Wall street': -7.384700226936385e-05,
 'The wolf of wall street': -0.00020698444776119407,
 'Inside Job': -0.0002778100864232214,
 'Boiler room': -0.003339980323529412,
 'The big short': -0.00011053504999999981,
 'Trading plaes': nan,
 'Margin call': -0.000978754962962963,
 'Wall street: the money never sleeps': -0.00123529349375,
 'Enron: the smartest guys in the room': -0.0007362810294642859,
 'Capitalism: a love story': -0.00020512904918032777,
 "Other people's money": nan,
 'The working girl': nan,
 'American Psycho': -0.0009901222537313438,
 'Glengarry Glen Ross': nan,
 'The bonfire of the vanities': nan,
 'The company men': -0.00033188288554216843,
 'Arbitrage': -0.0004278991470588235,
 'The bank ': 0.0007265787500000003,
 'Aftershock (2013)': nan,
 'Godzilla (2014)': -0.0005480550410958905,
 nan: nan,
 'Mean': nan,
 'Std': nan,
 'Min': nan,
 'Max': nan}